.board {
	width: 820px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.board div{
	height: 100px;
	width: 100px;
	border: 1px solid red;
}
.white {
	background-color: aliceblue;
}
.black {
	background-color: black;
}
.shadow {
	-webkit-box-shadow: 4px 7px 40px 29px rgba(225, 30, 30, 0.5) inset;
-moz-box-shadow: 4px 7px 40px 29px rgba(225, 30, 30, 0.5) inset;
box-shadow: 4px 7px 40px 29px rgba(225, 30, 30, 0.5) inset;
}